@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define custom fonts */
@font-face {
    font-family: 'Labil-Grotesk-Thin';
    src: url('../public/assets/Fonts/LabilGroteskThin.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Labil-Grotesk-Regular';
    src: url('../public/assets/Fonts/LabilGroteskRegular.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Labil-Grotesk-Bold';
    src: url('../public/assets/Fonts/LabilGroteskBold.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Labil-Grotesk-Medium';
    src: url('../public/assets/Fonts/LabilGroteskMedium.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Labil-Grotesk-Light';
    src: url('../public/assets/Fonts/LabilGroteskLight.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Labil-Grotesk-Black';
    src: url('../public/assets/Fonts/LabilGroteskBlack.otf') format('opentype');
  }
  
  /* Apply custom fonts to elements */
  .font-thin {
    font-family: 'Labil-Grotesk-Thin', sans-serif;
  }
  
  .font-regular {
    font-family: 'Labil-Grotesk-Regular', sans-serif;
  }
  
  .font-bold {
    font-family: 'Labil-Grotesk-Bold', sans-serif;
  }
  
  .font-medium {
    font-family: 'Labil-Grotesk-Medium', sans-serif;
  }
  
  .font-light {
    font-family: 'Labil-Grotesk-Light', sans-serif;
  }
  
  .font-black {
    font-family: 'Labil-Grotesk-Black', sans-serif;
  }
  